body {
    text-align: center;
    background-image: url("../images/golf.jpg");
    background-size: 200vh; 
    background-color: rgba(255, 255, 255, .5);
    
}

.bottom-column {
    border-bottom: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    color: darkred;
    background-color: rgba(255, 255, 255, .5);
    
}

table {
    border-spacing: 10px;
    margin: auto;
    
}

#guess {
    letter-spacing: 20px;
    font-size: 40px;
}

.disable-td {
    background-color: red;
    cursor: default;
}

.hang {
    background-color: 1px solid white;
}

button {
    font-size: 20px;
    color: white;
    background-color: black;
}

#message {
    font-size: 50px;
    height: 40px;
}

.livesLeft {
    font-size: 50px;
    color: snow;   
}

#guess {
    color: snow;
}